.answers {
  z-index: 1;

  margin-bottom: 30px;
}

.answers__title {
  margin-bottom: 9px;

  @include text(16, 19, 700);
}

.answers__list {
  display: flex;
  flex-direction: column;

  gap: 5px;
}

.answers__item-name {
  position: relative;

  padding: 6px 10px;

  list-style: none;

  cursor: pointer;

  color: var(--dark-gray);
  border-radius: 5px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);

  @include text(13, 22, 700);

  &::after {
    position: absolute;
    top: 14px;
    right: 12px;

    content: '';

    border: 5px solid transparent;
    border-top: 5px solid var(--orange);
  }
}

.answers__item-value {
  position: relative;

  margin: 10px 0 10px;

  color: var(--dark-gray);

  @include text(13, 22.75, 400);

  &::after {
    position: absolute;
    top: -34px;
    right: 12px;

    content: '';

    border: 5px solid white;
    border-bottom: 5px solid var(--orange);
  }
}

.answers__image-wrap {
  display: none;
}

@media (min-width: $tablet-width) {
  .answers {
    position: relative;

    padding-top: 57px;

    &::before {
      position: absolute;
      z-index: -3;
      top: -10px;
      left: 50%;

      content: '';
      transform: translateX(-50%);

      border-radius: 100%;
      background-color: white;

      @include size(6666);
    }
  }

  .answers__title {
    margin-bottom: 28px;
  }

  .answers__item-name {
    padding: 5px 10px;

    @include text(16, 27.2, 700);

    &::after {
      top: 17px;
      right: 14px;
    }
  }

  .answers__item-value {
    padding: 0 10px;

    @include text(14, 24.5, 400);

    &::after {
      top: -36px;
      right: 14px;
    }
  }
}

@media (min-width: $desctop-width) {
  .answers {
    display: flex;

    margin-bottom: 58px;
    padding-top: 0;

    gap: 47px;
    justify-content: space-between;
  }

  .answers__col {
    width: 540px;
    margin-top: 180px;
  }

  .answers__title {
    width: 80%;
    margin-bottom: 20px;

    letter-spacing: -0.8px;

    @include text(32, 38.4, 700);
  }

  .answers__image-wrap {
    display: block;
  }
}
