.promo {
  position: relative;

  margin-bottom: 34px;
  padding-top: 13px;

  background-color: var(--orange);

  &::after {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 100%;

    content: '';

    background-image: linear-gradient(to top, #FFAB00 17px, transparent 74px);
  }
}

.promo__inner {
  position: relative;

  display: grid;

  box-sizing: border-box;
  max-width: 255px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 0 0 0;

  grid-template-columns: 24px 1fr 24px;
}

.promo__image-wrap {
  display: flex;

  grid-column: 2 / 3;
  justify-content: center;
}

.promo__image {
  width: 128px;
  height: 252px;

  border-radius: 20px 20px 0 0;
  box-shadow: 0px 4px 30px 5px #FFFFFF;

  object-fit: cover;
  object-position: top;
}

.promo__circles-list {
  position: absolute;
  z-index: 1;
  left: 50%;

  display: none;

  transform: translateX(-50%);
}

.promo__circles-item {
  position: absolute;
}

.promo__networks {
  z-index: 1;

  margin-top: 28px;

  color: white;
}

@media (min-width: $tablet-width) {
  .promo {
    margin-bottom: 20px;

    background-color: transparent;
    &::after {
      bottom: 0;
      left: 50%;

      transform: translateX(-50%);

      border-bottom-right-radius: 100%;
      border-bottom-left-radius: 100%;

      @include size(6666);
    }
    &::before {
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 50%;

      content: '';
      transform: translateX(-50%);

      border-bottom-right-radius: 100%;
      border-bottom-left-radius: 100%;
      background-color: var(--orange);

      @include size(6666);
    }
  }

  .promo__inner {
    position: relative;

    display: grid;

    box-sizing: border-box;
    max-width: 100%;
    padding: 60px 27px 0;

    grid-template-columns: 24px 1fr 24px;
  }

  .promo__image {
    margin-left: -40px;
  }

  .promo__circles-list {
    display: block;
  }

  .promo__circles-item--1 {
    top: 150px;
    left: -168px;

    @include size(38);
  }
  .promo__circles-item--2 {
    top: 197px;
    left: 88px;

    @include size(72);
    filter: blur(5px);
  }
  .promo__circles-item--3 {
    top: -13px;
    left: -112px;

    @include size(58);
  }
  .promo__circles-item--4 {
    top: 60px;
    left: -272px;

    @include size(44);
  }
  .promo__circles-item--5 {
    top: 148px;
    left: -260px;

    @include size(32);
  }
  .promo__circles-item--6 {
    top: 210px;
    left: -218px;

    @include size(59);
  }
  .promo__circles-item--7 {
    top: 269px;
    left: -136px;

    @include size(67);
  }
  .promo__circles-item--8 {
    top: 0;
    left: 47px;

    @include size(57);
  }
  .promo__circles-item--9 {
    top: 37px;
    left: 146px;

    @include size(61);
  }
  .promo__circles-item--10 {
    top: 110px;
    left: 211px;

    @include size(57);
  }
  .promo__circles-item--11 {
    top: 169px;
    left: 157px;

    @include size(28);
  }
  .promo__circles-item--12 {
    top: 217px;
    left: 195px;

    @include size(58);
  }
  .promo__circles-item--13 {
    top: 290px;
    left: 57px;

    @include size(38);
  }
  .promo__circles-item--14 {
    top: 31px;
    left: -194px;

    background-color: white;

    @include size(73);
  }

  @for $i from 1 to 14 {
    .promo__circles-item--#{$i} {
      animation-delay: random(2000) + ms;

      background-image: url(../image/circle-#{$i}-tablet.jpg);

      @media (min-resolution: 144dpi), (css-min-resolution: 1.5dppx) {
        background-image: url(../image/circle-#{$i}-tablet@2x.jpg);
      }
    }
  }
}

@media (min-width: $desctop-width) {
  .promo {
    margin-bottom: 103px;

    background-color: transparent;
    &::after {
      display: none;
    }
    &::before {
      bottom: 33%;
    }
  }

  .promo__image-wrap {
    z-index: 1;
  }

  .promo__image {
    width: 288px;
    height: 585px;
    margin-left: 0;

    border-radius: 45px;
  }

  .promo__circles-item--1 {
    top: 358px;
    left: -305px;

    @include size(92);
  }
  .promo__circles-item--2 {
    top: 477px;
    left: 123px;

    transform: rotate(180deg);

    @include size(178);

  }
  .promo__circles-item--3 {
    top: -10px;
    left: -281px;

    @include size(108);
  }
  .promo__circles-item--4 {
    top: 228px;
    left: -652px;

    @include size(106);
  }
  .promo__circles-item--5 {
    top: 382px;
    left: -627px;

    @include size(78);
  }
  .promo__circles-item--6 {
    top: 450px;
    left: -479px;

    @include size(125);
  }
  .promo__circles-item--7 {
    top: 665px;
    left: -366px;

    @include size(164);
  }
  .promo__circles-item--8 {
    top: 0;
    left: 91px;

    @include size(137);
  }
  .promo__circles-item--9 {
    top: 80px;
    left: 332px;

    @include size(151);
  }
  .promo__circles-item--10 {
    top: 267px;
    left: 489px;

    @include size(137);
  }
  .promo__circles-item--11 {
    top: 405px;
    left: 359px;

    @include size(71);
  }
  .promo__circles-item--12 {
    top: 526px;
    left: 453px;

    @include size(140);
  }
  .promo__circles-item--13 {
    top: 654px;
    left: -45px;

    @include size(93);

    &::after {
      position: absolute;
      top: 41%;
      left: 42%;

      content: '';

      background-image: url("data:image/svg+xml,%3Csvg width='16' height='19' viewBox='0 0 16 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.6818 11.6424L8.76818 18.6763C8.34393 19.1079 7.65607 19.1079 7.23182 18.6763L0.318191 11.6424C-0.106063 11.2108 -0.106063 10.511 0.318191 10.0793C0.742445 9.64772 1.4303 9.64772 1.85455 10.0793L6.91363 15.2264L6.91363 1.08637C6.91363 0.486386 7.40001 3.75917e-07 8 3.49691e-07C8.59999 3.23465e-07 9.08637 0.486387 9.08637 1.08637L9.08637 15.2264L14.1454 10.0793C14.5697 9.64771 15.2576 9.64771 15.6818 10.0793C16.1061 10.511 16.1061 11.2108 15.6818 11.6424Z' fill='%23DFEEF8'/%3E%3C/svg%3E%0A");

      @include size(16, 19);
    }

    &:hover::after {
      animation-name: wiggle;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      animation-delay: 100ms;
      animation-iteration-count: infinite;
    }
  }
  .promo__circles-item--14 {
    top: 111px;
    left: -471px;

    @include size(179);
  }

  @for $i from 1 to 14 {
    .promo__circles-item--#{$i} {
      animation-delay: random(2000) + ms;

      background-image: url(../image/circle-#{$i}-desktop.jpg);

      @media (min-resolution: 144dpi), (css-min-resolution: 1.5dppx) {
        background-image: url(../image/circle-#{$i}-desktop@2x.jpg);
      }
    }
  }
}
